<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Varigonda Sai Nirmal Vignu</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/static/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</head>

<body id="top">
  <header>
    <div class="profile-page sidebar-collapse">
      <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary" color-on-scroll="400">
        <div class="container">

          <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
            aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"><span
              class="navbar-toggler-bar bar1"></span><span class="navbar-toggler-bar bar2"></span><span
              class="navbar-toggler-bar bar3"></span></button>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link smooth-scroll" href="#about">About</a></li>
            <li class="nav-item"><a class="nav-link smooth-scroll" href="#skill">Skills</a></li>
            <li class="nav-item"><a class="nav-link smooth-scroll" href="#certificate">Certifications</a></li>
            <li class="nav-item"><a class="nav-link smooth-scroll" href="#experience">Experience</a></li>
            <li class="nav-item"><a class="nav-link smooth-scroll" href="#contact">Contact</a></li>
          </ul>
        </div>
    </div>
    </nav>
    </div>
  </header>
  <div class="page-content">
    <div>

      <div class="profile-page">
        <div class="wrapper">
          <div class="page-header page-header-small" filter-color="green">
            <div class="page-header-image" data-parallax="true" style="background-image: url('static/images/bg.jpg')">
            </div>
            <div class="container">
              <div class="content-center">
                <div class="cc-profile-image"><a href="#"><img src="static/images/me3.jpg" alt="Image" /></a></div>
                <div class="h2 title">Varigonda Sai Nirmal Vignu</div>
                <p class="category text-white">Aspiring Data Scientist</p><a class="btn btn-primary smooth-scroll mr-2"
                  href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Hire Me</a><a
                  class="btn btn-primary" target="_blank"
                  href="{{ url_for('static',filename='VarigondaSaiNirmalVignu-RESUME.pdf') }}" data-aos="zoom-in"
                  data-aos-anchor="data-aos-anchor">Download CV</a>
              </div>
            </div>

            <div class="section">
              <div class="container">
                <div class="button-container"><a class="btn btn-default btn-round btn-lg btn-icon btn-info"
                    target="_blank" href="https://www.facebook.com/nirmal.varigonda/" rel="tooltip"
                    title="Follow me on Facebook"><i class="fa fa-facebook"></i></a><a
                    class="btn btn-default btn-info btn-round btn-lg btn-icon" target="_blank"
                    href="https://twitter.com/nirmal1420" rel="tooltip" title="Follow me on Twitter"><i
                      class="fa fa-twitter"></i></a><a class="btn btn-default btn-round btn-info btn-lg btn-icon"
                    target="_blank" href="https://github.com/NirmalVignu" rel="tooltip" title="Follow me on Github"><i
                      class="fa fa-github"></i></a><a class="btn btn-default btn-info btn-round btn-lg btn-icon"
                    target="_blank" href="https://www.linkedin.com/in/vsnv/" rel="tooltip"
                    title="Follow me on LinkedIn"><i class="fa fa-linkedin"></i></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- About section -->
      <div class="section" id="about">
        <div class="container">
          <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
              <div class="col-lg-6 col-md-12">
                <div class="card-body">
                  <div class="h4 mt-0 title">About</div>
                  <p>As a Digital Specialist Engineer with 1+ years of experience in the field, my objective is to bring my skills and knowledge to a dynamic and innovative organization. I am dedicated to staying up-to-date with the latest technological advancements and using them to enhance the user experience and optimize digital solutions. My expertise in Machine Learning, programming, and software development will enable me to contribute to the success of any team, while continuing to learn and grow in my field.</p>
                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="card-body">
                  <div class="h4 mt-0 title">Basic Information</div>
                  <div class="row">
                    <div class="col-sm-4"><strong class="text-uppercase">DOB:</strong></div>
                    <div class="col-sm-8">21/03/2001</div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
                    <div class="col-sm-8">varigondanirmal1@gmail.com</div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-sm-4"><strong class="text-uppercase">Phone:</strong></div>
                    <div class="col-sm-8">+91 8106701825</div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-sm-4"><strong class="text-uppercase">Address:</strong></div>
                    <div class="col-sm-8">3-271/1 Opposite Whynot Shopping mall, Palangi, Andhra Pradesh,India 534216
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-sm-4"><strong class="text-uppercase">Language:</strong></div>
                    <div class="col-sm-8">English, Telugu</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Professional Skills Section -->
      <div class="section" id="skill">
        <div class="container">
          <div class="h4 text-center mb-4 title">Professional Skills</div>
          <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <div class="card-body">
              <b>Programming Languages:</b> Python, Java, SQL, JavaScript<br><br>
              <b>Tools:</b> Scikit-Learn, NumPy, Pandas, Matplotlib, Power BI, MS Excel, OpenCV, Keras,
              Tensorflow<br><br>
              <b>Database Management Systems:</b> MySQL, SQLite3<br><br>
              <b>Internet Technologies:</b> HTML5, CSS<br><br>
              <b>Frameworks:</b>Flask, Django, Angular, SpringBoot, Streamlit
            </div>
          </div>
          </div>
          </div>
          <!-- Certifications Section -->

          <div class="section" id="certificate">
          <div class="container">
          <div class="h4 text-center mb-4 title">Certifications</div>
          <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <div class="card-body">
              <ul>
                <li><a target="_blank" style="text-decoration: none; color: black;" href="https://www.credly.com/badges/ee390954-cb50-4863-9a3f-58010386817b/linked_in_profile">Microsoft Certified: Azure Fundamentals (AZ-900)  &#128279</a></li>
                <li><a target="_blank" style="text-decoration: none; color: black;" href="https://www.credly.com/badges/2e05b36d-d049-4d8f-a803-d6f48c434ef5/linked_in_profile">Microsoft Certified: Azure AI Fundamentals (AI-900)  &#128279</a></li>
                <li><a target="_blank" style="text-decoration: none; color: black;" href="https://www.credly.com/badges/1b09e3c7-7fc6-4d17-b209-791987f569da/linked_in_profile">Microsoft Certified: Azure Data Fundamentals (DP-900)  &#128279</a></li>
                <li><a target="_blank" style="text-decoration: none; color: black;" href="https://www.credly.com/badges/5edb2c34-6726-4ad1-baf0-8d2c31284b71/linked_in_profile">Microsoft Certified: Azure Data Scientist Associate (DP-100) &#128279</a></li>
                <li><a target="_blank" style="text-decoration: none; color: black;" href="https://www.credly.com/badges/302ae872-c351-420e-937d-e884845cf11d/linked_in_profile">AWS Certified Cloud Practitioner  &#128279</a></li>
                <li><a target="_blank" style="text-decoration: none; color: black;" href="https://drive.google.com/file/d/19BcP9JUub3cVAatxelfYtG6r26g79Why/view">Programming, Data Structures and Algorithms Using Python issued by SWAYAM  &#128279</a></li>
                <li><a target="_blank" style="text-decoration: none; color: black;" href="https://www.udemy.com/certificate/UC-23724f23-ea91-4bb1-96d8-62889adbf1f7/">Full Stack Web Application Development with Django Framework issued by Udemy  &#128279</a></li>
                <li><a target="_blank" style="text-decoration: none; color: black;" href="https://www.udemy.com/certificate/UC-a3d56a4e-4803-456c-a603-fdd01d49bb1f/">Machine Learning & Data Science with Python|ML A-Z issued by Udemy  &#128279</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Work Experience  Section -->
      <div class="section" id="experience">
        <div class="container cc-experience">
          <div class="h4 text-center mb-4 title">Work Experience</div>
          <div class="card">
            <div class="row">
              <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body cc-experience-header">
                  <p>June 2022 - Present</p>
                  <div class="h5">Infosys Private Limited</div>
                </div>
              </div>
              <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body">
                  <div class="h5">Digital Specialist Engineer</div>
                  <p>
                      <div class="h6">Summary</div>
                     <li> Utilized the YOLOv8 object detection model to develop a solution for retail customers, enabling the post-processing of planogram arrangements to ensure correct order and accurate placement.
                    </li>
                    <li>
                        Actively contributed to the Infosys IMPACT team by constructing machine learning and deep learning models to address real-world challenges.
                    </li>
                    <div class="h6">Certified In</div>
                    <ul>
                      <li>Infosys Certified Python Programmer</li>
                      <li>Infosys Certified Python Associate</li>
                      <li>Infosys Certified Machine Learning Professional</li>
                      <li>Infosys Certified Data Science using Python Professional</li>
                    </ul>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="row">
              <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body cc-experience-header">
                  <p>December 2021 - March 2022</p>
                  <div class="h5">MAQ Software</div>
                </div>
              </div>
              <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body">
                  <div class="h5">Associate Software Engineer (Intern)</div>
                  <p>
                  <ul>
                    <li>Developed a Data Science Toolkit using Flask Framework, simplifying the work of machine learning engineers by providing a user-friendly GUI for data preparation, feature extraction, exploratory data analysis, and regression, classification, and clustering techniques.</li>
                    <li>Contributed to Power BI Reports, extracting data from Power BI narratives using Python code for efficient data analysis.</li>
                    <li>Worked on Power Bi Reports and extracting data from power bi narratives using python code</li>
                    <li>Automated financial summary generation for firms by creating a versatile template to handle various financial data types, enhancing efficiency and accuracy.</li>
                  </ul>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="row">
              <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body cc-experience-header">
                  <p>May 2021 - August 2021</p>
                  <div class="h5">Regex Software Services</div>
                </div>
              </div>
              <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body">
                  <div class="h5">Summer Intern</div>
                  <p>
                  <ul>
                    <li>I have created a machine learning model that predicts prices of used cars, employing both machine learning and deep learning techniques. With a focus on attributes like make, model, year, mileage, and condition, the model accurately estimates prices. I have extensive experience handling diverse tasks in the field of machine learning and deep learning.</li>

                  </ul>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Education Section -->
      <div class="section">
        <div class="container cc-education">
          <div class="h4 text-center mb-4 title">Education</div>
          <div class="card">
            <div class="row">
              <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body cc-education-header">
                  <p>2018 - 2022</p>
                  <div class="h5">Bachelor's Degree</div>
                </div>
              </div>
              <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body">
                  <div class="h5">B.Tech in Information Technology</div>
                  <p class="category">SRKR Engineering College</p>
                  <p>Relevant Coursework: Web Development, Database Management Systems, Object Oriented
                    Programming, Data Mining ,Operating Systems,Big Data and Machine Learning</p>
                  <p>
                    <b>CGPA: 8.26 </b><br>
                    <b>Projects:</b><br>
                  <ul>
                    <li>Insurance claim Fraud prediction  A Machine Learning model to predict whether the insurance claim is fraud or not, based
                      on the past records
                      and performances.</li>
                    <li>Website for Roost School Tanuku using Django <a target="_blank" href="https://rootstanuku.com/">(rootstanuku.com)</a></li>

                  </ul>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="row">
              <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body cc-education-header">
                  <p>2016 - 2018</p>
                  <div class="h5">Intermediate </div>
                </div>
              </div>
              <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body">
                  <div class="h5">M.P.C</div>
                  <p class="category">Sasi Junior College</p>
                  <p>Andhra Pradesh Board of Intermediate Education </p>
                  <p>
                    <b>Percentage: 97.1%</b><br>

                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="row">
              <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body cc-education-header">
                  <p>2015 - 2016</p>
                  <div class="h5">High School </div>
                </div>
              </div>
              <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body">
                  <div class="h5">Science and Mathematics</div>
                  <p class="category">Roots School Tanuku</p>
                  <p>Board Of Secondary Education Andhra Pradesh </p>
                  <p>
                    <b>CGPA: 9.5</b><br>

                  </p>
                </div>
              </div>
            </div>
          </div>
<!-- Contact Section -->
          <div class="section" id="contact">
            <div class="cc-contact-information" style="background-image: url('static/images/map.png')">
              <div class="container">
                <div class="cc-contact">
                  <div class="row">
                    <div class="col-md-9">
                      <div class="card mb-0" data-aos="zoom-in">
                        <div class="h4 text-center title">Contact Me</div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="card-body">
                              <form action="/sendemail/" method="POST">
                                <div class="p pb-3"><strong>Feel free to contact me </strong></div>
                                <div class="row mb-3">
                                  <div class="col">
                                    <div class="input-group"><span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                                      <input class="form-control" type="text" name="name" placeholder="Name" required="required"/>
                                    </div>
                                  </div>
                                </div>
                                <div class="row mb-3">
                                  <div class="col">
                                    <div class="input-group"><span class="input-group-addon"><i class="fa fa-file-text"></i></span>
                                      <input class="form-control" type="text" name="Subject" placeholder="Subject" required="required"/>
                                    </div>
                                  </div>
                                </div>
                                <div class="row mb-3">
                                  <div class="col">
                                    <div class="input-group"><span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                      <input class="form-control" type="email" name="_replyto" placeholder="E-mail" required="required"/>
                                    </div>
                                  </div>
                                </div>
                                <div class="row mb-3">
                                  <div class="col">
                                    <div class="form-group">
                                      <textarea class="form-control" name="message" placeholder="Your Message" required="required"></textarea>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col">

                                      <button class="btn btn-primary" type="submit">Send</button>


                                  </div>
                                </div>
                              </form>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="card-body">
                              <p class="mb-0"><strong>Address </strong></p>
                              <p class="pb-2">3-271/1 Opposite Whynot Shopping mall, Palangi, Andhra Pradesh,India 534216</p>
                              <p class="mb-0"><strong>Phone</strong></p>
                              <p class="pb-2">+91 8106701825</p>
                              <p class="mb-0"><strong>Email</strong></p>
                              <p>varigondanirmal1@gmail.com</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div></div>
              </div>
              <footer class="footer">

                <div class="container text-center"><a class="btn btn-default btn-round btn-lg btn-icon"
                  target="_blank" href="https://www.facebook.com/nirmal.varigonda/" rel="tooltip"
                  title="Follow me on Facebook"><i class="fa fa-facebook"></i></a><a
                  class="btn btn-default  btn-round btn-lg btn-icon" target="_blank"
                  href="https://twitter.com/nirmal1420" rel="tooltip" title="Follow me on Twitter"><i
                    class="fa fa-twitter"></i></a><a class="btn btn-default btn-round  btn-lg btn-icon"
                  target="_blank" href="https://github.com/NirmalVignu" rel="tooltip" title="Follow me on Github"><i
                    class="fa fa-github"></i></a><a class="btn btn-default  btn-round btn-lg btn-icon"
                  target="_blank" href="https://www.linkedin.com/in/vsnv/" rel="tooltip"
                  title="Follow me on LinkedIn"><i class="fa fa-linkedin"></i></a></div>
                <div class="h4 title text-center">Varigonda Sai Nirmal Vignu</div>
                <div class="text-center text-muted">
                  <p>&copy; Creative CV. All rights reserved.<br>Design - <a class="credit" href="https://templateflip.com" target="_blank">TemplateFlip</a></p>
                </div>
              </footer>
              <script src="{{ url_for('static',filename='js/core/jquery.3.2.1.min.js') }}"></script>
              <script src="{{ url_for('static',filename='js/core/popper.min.js') }}"></script>
              <script src="{{ url_for('static',filename='js/core/bootstrap.min.js') }}"></script>
              <script src="{{ url_for('static',filename='js/now-ui-kit.js') }}"></script>
              <script src="{{ url_for('static',filename='js/aos.js') }}"></script>
              <script src="{{ url_for('static',filename='scripts/main.js') }}"></script>
            </body>
          </html>
